<footer>
    <hr>
    <div id="contenedorFooter">
        <div id="textoFooter">
            Contacta conmigo
        </div>

        <div id="contenedorRedes">
            <a href="https://www.twitter.com" target="_blank">
                <i class="fab fa-twitter icono"></i>
            </a>
            <a href="https://www.youtube.com" target="_blank">
                <i class="fab fa-youtube icono"></i>
            </a>
            
            <a href="https://www.instagram.com" target="_blank">
                <i class="fab fa-instagram icono"></i>
            </a>
            <a href="https://www.gmail.com" target="_blank">
                <i class="fas fa-envelope icono"></i>
            </a>
        </div>
    </div>


</footer>