<header>
    <nav
        class="mimenu navbar navbar-dark bg-dark navbar-expand navbar-expand-sm navbar-expand-md navbar-expand-lg navbar-expand-xl ">
       
            <a class="nav-link" href="#inicio"> <span class="nombreMenu">Adrian Villaseco Soto</a>
        </span>
        <div class="collapse navbar-collapse justify-content-end inicio" id="navbarNavDropdown">

            <ul class="nav navbar-nav">
                <li class="nav-item active elementosMenu">
                    <a class="nav-link" href="#inicio">Inicio</a>
                </li>
                <li class="nav-item active elementosMenu">
                    <a class="nav-link" href="#sobremi">Sobre mí</a>
                </li>
                <li class="nav-item active elementosMenu">
                    <a class="nav-link" href="#experiencia">Experiencia</a>
                </li>
                <li class="nav-item active elementosMenu">
                    <a class="nav-link" href="#formacion">Formación</a>
                </li>
                <li class="nav-item active elementosMenu">
                    <a class="nav-link" href="#skills">Skills</a>
                </li>
                <li class="nav-item active elementosMenu">
                    <a class="nav-link" href="#otros">Otros datos</a>
                </li>
            </ul>
        </div>
    </nav>


</header>
