<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="/images/slider1.jpg" class="imagenCarrousel d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="/images/slider2.jpg" class="imagenCarrousel d-block w-100" alt="...">
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<div class="container-fluid ">

    <section class="row justify-content-center seccion" id="sobremi">

        <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
            <div><img class="imagenSobremi" src="/images/sobremi.jpeg" alt="Foto de Adrián Villaseco Soto"></div>
        </div>


        <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
            <div>
                <div class="contenedorTituloSeccion">
                    <div><button class="buttonMas" id="botonSobremi"><i class="fas fa-plus"></i></button></div>
                    <strong>
                        <p class="tituloSeccion">SOBRE MI</p>
                    </strong>
                </div>

                <div class="contenedorfullsobremi">
                    <div class="lineaRoja"></div>
                    <p class="mt-3">Saludos, me llamo Adrián, vivo en Zamora y me apasiona el mundo de la informática.

                    </p>
                    <hr>

                    <div class="contenedorListaSobremi desaparecer">
                        <i class="fas fa-user"></i>
                        <strong>
                            <p class="p-0 m-0 ml-3">Nombre</p>
                        </strong>
                        <p class="p-0 leftauto">Adrian Villaseco Soto</p>
                    </div>
                    <hr>
                    <div class="contenedorListaSobremi">
                        <i class="fas fa-user"></i>
                        <strong>
                            <p class="p-0 m-0 ml-3">Correo</p>
                        </strong>
                        <p class="p-0 leftauto"> avs.zamora@gmail.com </p>
                    </div>
                    <hr>
                    <div class="contenedorListaSobremi">
                        <i class="fas fa-phone"></i>
                        <strong>
                            <p class="p-0 m-0 ml-3">Teléfono</p>
                        </strong>
                        <p class="p-0 leftauto">696332175</p>
                    </div>
                    <hr>
                    <div class="contenedorListaSobremi">
                        <i class="fas fa-pager"></i>
                        <strong>
                            <p class="p-0 m-0 ml-3">Página web</p>
                        </strong>
                        <p class="p-0 leftauto">https://prueba-adrian.herokuapp.com/</p>
                    </div>
                </div>

            </div>
        </div>

    </section>

    <hr class="separadorSeccion">


    <section class="row justify-content-center seccion2" id="experiencia">

        <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
            <div>
                <div class="contenedorExperienciaSeccion">
                    <div><button class="buttonMas" id="botonExperiencia"><i class="fas fa-plus"></i></button></div>
                    <strong>
                        <p class="tituloSeccion2">EXPERIENCIA</p>
                    </strong>
                </div>
                <div class="contenedorfullexperiencia">
                    <div class="lineaRoja2"></div>
                    <hr>
                    <p class="subtituloSeccion">Programador junior en prácticas</p>
                    <p class="subsubtituloSeccion">Febrero a Junio de 2019</p>
                    <div class="contenedorListaSobremi">
                        <img class="imagenSoftoro" src="/images/softoro.jpg" alt="Imagen de softoro">
                        <p>Estuve trabajando con HTML, CSS y Javascript realizando
                            el front de algunos proyectos. Ademas recibí cursos sobre .NET
                            ANGULAR y NODE.js
                        </p>

                    </div>
                    <hr>
                    <p class="subtituloSeccion">Técnico hardware en tienda</p>
                    <p class="subsubtituloSeccion">Septiembre a Abril de 2017</p>
                    <div class="contenedorListaSobremi">
                        <img class="imagenicv" src="/images/icv.jpg" alt="Imagen de softoro">
                        <p>Estuve realizando tareas como cambio de componentes hardware,
                            formateo de sistemas entre otros.
                        </p>

                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 justify-content-center">
            <div><img class="imagenExperiencia" src="/images/experiencia.jpg" alt="Foto de Adrián Villaseco Soto"></div>
        </div>

    </section>

    <hr class="separadorSeccion">


    <section class="row justify-content-center seccion" id="formacion">

        <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
            <div><img class="imagenSobremi" src="/images/formacion.jpg" alt="Foto de Adrián Villaseco Soto"></div>
        </div>


        <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
            <div>
                <div class="contenedorTituloSeccion">
                    <div><button class="buttonMas" id="botonFormacion"><i class="fas fa-plus"></i></button></div>
                    <strong>
                        <p class="tituloSeccion">FORMACION</p>
                    </strong>
                </div>
                <div class="contenedorfullformacion">
                    <div class="lineaRoja"></div>

                    <p class="subtituloSeccion">Desarrollo de aplicaciones multiplataforma</p>
                    <p class="subsubtituloSeccion">I.E.S Claudio Moyano</p>
                    <div class="contenedorListaSobremi">
                        <img class="imagenClaudio mr-2" src="/images/claudio.jpg" alt="Imagen de softoro">
                        <p>Obtuve conocimientos en Java, Android, Odoo, programacion concurrente y utilización
                            de diferentes bases de datos como eXist, Db4o y Matisse.
                        </p>

                    </div>

                </div>
            </div>
        </div>
    </section>

    <hr class="separadorSeccion">

    <section class="row justify-content-center seccion2" id="skills">

        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <div>
                <div class="contenedorTituloSeccion">
                    <div><button class="buttonMas" id="botonskills"><i class="fas fa-plus"></i></button></div>
                    <strong>
                        <p class="tituloSeccion2">SKILLS</p>
                    </strong>
                </div>
                <div class="contenedorfullskills">
                    <div class="lineaRoja3"></div>
                    <hr>
                    <div class="contenedorbarras">
                        <div class="contenedorbarraitem">
                            <span class="animacion mr-5">Java y C</span>
                            <div class="progress m-0">
                                <div class="progress-bar progressbarjava bg-success" role="progressbar"
                                    style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                        <div class="contenedorbarraitem">
                            <span class="mr-5">Android</span>
                            <div class="progress m-0">
                                <div class="progress-bar progressbarandroid bg-danger" role="progressbar"
                                    style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                        <div class="contenedorbarraitem">
                            <span class="mr-5">Html/CSS</span>
                            <div class="progress m-0">
                                <div class="progress-bar progressbarhtml bg-info" role="progressbar" style="width: 50%"
                                    aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                        <div class="contenedorbarraitem">
                            <span class="mr-5">Javascript</span>
                            <div class="progress m-0">
                                <div class="progress-bar progressbarjavascript bg-warning" role="progressbar"
                                    style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
</div>


</section>

<!-- Modal -->


<div class="divCookie m-0 p-0">
    <span>Aceptar cookies</span>
    <button class="ml-3 btn btn-primary aceptarCookie">OK</button>
</div>

<script src="javascripts/index.js"></script>